.container {
    max-width: 800px;
}

.editButtonCell {
    width: 1px;
}

.checkbox {
    width: 1px;
}

.noResults {
    color: var(--colors-grey700);
    text-align: center;
    font-style: italic;
}
