.container {
    display: flex;
    font-size: 14px;
}

.left {
    display: flex;
    align-items: center;
}

.left > * {
    margin-right: var(--spacers-dp4);
}

.right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.amount {
    margin-right: var(--spacers-dp24);
}

.pageselection {
    display: flex;
    align-items: center;
    margin-left: var(--spacers-dp12);
    margin-right: var(--spacers-dp12);
}

.pageselection > * {
    margin-right: var(--spacers-dp4);
}
