.container {
    display: flex;
    font-size: 14px;
}

.left {
    display: flex;
    align-items: center;
}

.left > * {
    margin-right: 4px;
}

.right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.amount {
    margin-right: 24px;
}

.pageselection {
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
}

.pageselection > * {
    margin-right: 4px;
}
