.container {
    background: var(--colors-white);
    border-radius: 3px;
    padding: 8px;
    border: 1px solid var(--colors-grey300);
    border-left: 4px solid var(--colors-grey500);
    margin-bottom: 16px;
}

.textInputs {
    display: flex;
    margin-bottom: 16px;
}

.keyInput, .valueInput {
    flex-grow: 1;
    width: calc(50% - var(--spacers-dp4));
}

.keyInput {
    margin-right: var(--spacers-dp8);
}

.checkboxGroup {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 16px;
}

.checkbox {
    margin-right: 16px;
}
